<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml-transitional.dtd">
<html>

<head>
  <meta charset="UTF-8">
  <title>One To Many</title>
  </head>

<body>
  <h1>One To Many: Prototype I</h1>
  <%= yield.code_indent(2) %>
</body>
</html>