<h3>Request A New Item</h3>
<p>Is this your first time here? Be sure to read our requesting guidlines before posting to avoid penalties.</p>

<form action="/requests/new" method="post">
  <p>
    <input type="text" name="title" placeholder="Item Name (Be Specific)..." style="padding: 5px; width: 300px;">
  </p>

  <p>
    <textarea name="description" placeholder="Description..." style="width: 500px; height: 100px;"></textarea>
  </p>

  <input type="submit" value="Submit">
</form>